<!DOCTYPE html>
<html>
  <head>
    <title>BeFamiliar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'yo_soy_garcia' %>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
